# Игнорируем системные файлы и IDE
.git
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd

# Игнорируем локальное виртуальное окружение (в Docker оно свое)
venv
.venv
env

# КРИТИЧНО: Не копируем .env внутрь образа (безопасность)
# Он будет прокинут через docker-compose
.env

# Игнорируем локальные файлы БД и логи
*.log
*.sqlite